html {
  border: 2px solid yellow;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(lightyellow, orange);
}

header{
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid green;
}

select{
  font-size: 1rem;
}

.section-container{
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  padding-left: 10vw;
  padding-right: 10vw;
}

.column{
  flex: 1;
  border: 2px solid rgb(240, 85, 111);

}

img {
  max-width: 700px;
  max-height: 500px;
}

span{
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}